apiVersion: kubescheduler.config.k8s.io/v1
kind: KubeSchedulerConfiguration
leaderElection:
  leaderElect: false # replicas: 1
clientConnection:
  kubeconfig: ${KUBECONFIG}
podMaxBackoffSeconds: 1
percentageOfNodesToScore: 100
profiles:
- schedulerName: ${SCHEDULER_NAME}
  plugins:
    multiPoint:
      enabled:
      - name: kube-throttler
        weight: 1
  pluginConfig:
  - name: kube-throttler
    args: 
      name: ${THROTTLER_NAME}
      kubeconfig: ${KUBECONFIG}
      targetSchedulerName: ${SCHEDULER_NAME}
